@import url('https://cdn.katsuragi.cyou/fonts/TH/LINEseed-Regular');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, h1, h2, h3, h4, h5, span, p, div, a {
  font-family: 'LINESeed-Regular', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: #2e2f2f;
  overflow: hidden;
}

a {
  transition: all .3s;
}

#about {
  overflow: auto;
}