@import url('https://cdn.katsuragi.cyou/fonts/TH/LINEseed-Regular');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, h1, h2, h3, h4, h5, span, p, div, a {
  font-family: 'LINESeed-Regular', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: #2e2f2f;
  overflow: hidden;
}

a {
  transition: all .3s;
}

#about .aboutContainer {
  overflow: auto;
}

.cardEvent {
  width: 20rem;
  background-color: #2e2f2f;
  border-radius: 1rem;
}

.cardEvent img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.cardEvent .cardBody {
  color: whitesmoke;
  text-align: center;
}

.cardEvent .cardBody h3 {
  font-size: 20px;
  padding: .5rem;
}

.cardEvent .cardBody p {
  font-size: 15px;
  padding: .5rem;
  margin-bottom: .5rem;
  color: lightgray !important;
}